<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <style>
    /* Some basic styling for demonstration purposes */
    body {
      font-family: Arial, sans-serif;
      
      padding: 50px;
    }
    
    h1 {
      margin-bottom: 30px;
    }
    
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      font-size: 18px;
      border-radius: 5px;
    }
    
    .button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
    
    
   <li><a class="button" href="add/2/5">SUM</a></li>
   <li></li>
   <li><a class="button" href="subtract/2/5">Difference</a></li>
   <li></li>
   <li><a class="button"  href="multiply/15/3">multiplication</a></li>
   <li></li>
   <li><a class="button" href="div/15/3">division</a></li>
   <li></li>
   <li><a class="button" href="mod/15/3">modulus</a></li>
   <li></li>
  </body>
  </html>